* {
    box-sizing: border-box;
}

body {
    background-color: #23252C;
}

 a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: #F5F5F5;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
 }

/* Photo */

.profile-photo {
    display: block;
    margin: auto;
}

/* Personal Info */

.info-div > h1 {
    color: #FFFFFF;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 30px;
}

.info-div > h2 {
    color: #F3BF99;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 15px;
}

.info-div {
    display: flex;
    flex-direction: column;
    align-items: center
}

/* Contact Buttons */

.contact-div {
    display: flex;
    justify-content: space-between;
    margin: 35px
}

.contact-div > button {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 16px;
}

.btn-img {
    margin-right: 5px;
}

.email-btn {
    width: 215px;
    height: 44px;
    background-color: #7d7e80;
    border-radius: 6px
}

.linkedin-btn {
    background-color: #5093E2;
    width: 215px;
    border-radius: 6px;
    color: #FFFFFF;
}

/* .email-text {
    color: #23252C;
} */

/* About */

.about-div {
    color: #DCDCDC;
    margin: 35px;
}

.about-div > h3 {
    font-family: 'Inter';
    font-size: 25px;
    line-height: 16px;
}

.about-div > p {
    font-family: 'Inter';
}

/* Footer */

.footer {
    display: flex;
    justify-content: space-between;
    margin: 0px 150px
}