* {
    box-sizing: border-box;
}

body {
    background-color: #23252C;
}

 a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: #F5F5F5;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 10.24px;
    line-height: 150%;
 }

.profile-photo {
    display: block;
    margin: auto;
}

.info-div > h1 {
    color: #FFFFFF;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
}

.info-div > h2 {
    color: #F3BF99;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12.8px;
    line-height: 15px;
}

.info-div {
    display: flex;
    flex-direction: column;
    align-items: center
}